* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: darkolivegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

button {
    padding: 1vw 1vw;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

p {
    font-size: 2vw;
}