* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swap {
    display: none;
}

.img {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.img img {
    width: 20vw;
}

body {
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

button {
    padding: 1vw 2vw;
    background-color: #757272;
}

.swap {
    width: 10vw;
    margin-left: 45vw;
}